$color-page-backgraund: #141b1c;
$color-page-text: #ffffff;
$color-background-dark: #334247;
$color-background-green: #5bb189;
$color-background-blue: #3a6ba5;
$color-background-orange: #ec632a;
$color-background-red: #dc3f45;
$color-background-list: #2a3438;
